.filters_buttons {
    width: 80% !important;
    margin-top: 20px;
}

#sidebar {
    height: 100vh;
}

.header_model {
    width: 100%;
    text-align: center;
    display: inline-block;
}

.diagrama_widget {
    height: 27rem;
    overflow: scroll;
    width: inherit;
}

.header_menu {
    width: 75%;
    margin: 1rem auto;
}

#statistic_button {
    float: right;
    cursor: pointer;
    margin-right: 40px;
}

.model_name {
    display: inline-block;
}

.without_diagram {
    color: #dedede;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.main_page_widget {
    width: 98%;
    margin: 20px auto;
}

#content {
    margin-top: 3rem;
}

table, th, td {
    border: 1px solid black;
  }

  .fstChoiceItem {
    font-size: 1.4em !important;
  }


.fstMultipleMode .fstControls {
    
    width: 42.5em !important;
}

.filters_widget {
    padding-bottom: 50px;
}



body {
    color: #6a6c6f;
    background-color: #f1f3f6;
    margin-top: 30px;
  }
  
  .container {
    max-width: 960px;
  }
  
  .panel-default>.panel-heading {
    color: #333;
    background-color: #fff;
    border-color: #e4e5e7;
    padding: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .panel-default>.panel-heading a {
    display: block;
    padding: 10px 15px;
  }
  
  .panel-default>.panel-heading a:after {
    content: "";
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    float: right;
    transition: transform .25s linear;
    -webkit-transition: -webkit-transform .25s linear;
  }
  
  .panel-default>.panel-heading a[aria-expanded="true"] {
    background-color: #eee;
  }
  
  .panel-default>.panel-heading a[aria-expanded="true"]:after {
    content: "\2212";
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  
  .panel-default>.panel-heading a[aria-expanded="false"]:after {
    content: "\002b";
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  
  .accordion-option {
    width: 100%;
    float: left;
    clear: both;
    margin: 15px 0;
  }
  
  .accordion-option .title {
    font-size: 20px;
    font-weight: bold;
    float: left;
    padding: 0;
    margin: 0;
  }
  
  .accordion-option .toggle-accordion {
    float: right;
    font-size: 16px;
    color: #6a6c6f;
  }
  
  .accordion-option .toggle-accordion:before {
    content: "Expand All";
  }
  
  .accordion-option .toggle-accordion.active:before {
    content: "Collapse All";
  }

  #mynetwork {
    width: inherit; 
    height: 100vh; 
    border: 1px solid lightgray;
  }

  #visualize_images {
      height: 3rem;
  }

  #visualize_images img {
    width: 40px;
    background-color: lightgray;
}

.custom-menu {
    display: none;
}


.container main_page_diagrama_visualize {
  max-width: 100% !important;
  
}

#diagrama_sticker {
    position: fixed;
    transform: rotate(-90deg);
    left: 212px;
    top: 50%;
    background-color: #ffff0063;
    padding: 0 5px;
    width: 100px;
    text-align: center;
    cursor: pointer;
}

#relations_sticker {
    position: fixed;
    transform: rotate(-90deg);
    left: 212px;
    top:79%;
    background-color: #007bff87;
    padding: 0 5px;
    color: white;
    width: 100px;
    text-align: center;
    cursor: pointer;
}

.arrow-back {
    float: left;
    display: block;
    padding-right: 21px;
}